


<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Reservations</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="reservations.length > 0&&isAdmin">
  <table class="table align-items-center table-dark table-flush">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">DATE</th>
        <th scope="col">TYPETABLE</th>
        <th scope="col">USER</th>
        <th scope="col">STATUS</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations; let i=index;" [ngClass]="{'odd': i % 2 == 0, 'even': i % 2 != 0}">
        <td>{{ reservation.id }}</td>
        <td>{{ reservation.dateTime }}</td>
        <td>{{ reservation.typeTable }}</td>
        <td>{{ reservation.user.firstname }}</td>

        <td>
          <select [(ngModel)]="reservation.commandeStatus">
            <option *ngFor="let status of commandeStatusOptions" [value]="status">{{ status }}</option>
          </select>
        </td>



      </tr>
    </tbody>

  </table>
  <!--ajout un bouton qui est situé au milieu du tableau-->

  <div class="text-center">
    <button class="btn btn-primary btn-sm" (click)="onChangeCommandeStatus()">Changer l'état des réservations</button>
  </div>
<div *ngIf="reservations.length === 0">
  <p>Aucun menu disponible pour le moment.</p>
</div>

</section>

  <form *ngIf="!isAdmin" (ngSubmit)="submitReservationForm()">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="reservation.user.username" required><br>

    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" name="firstname" [(ngModel)]="reservation.user.firstname" required><br>

    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" name="lastname" [(ngModel)]="reservation.user.lastname" required><br>



    <label for="typeTable">Type de table:</label>
    <input type="text" id="typeTable" name="typeTable" [(ngModel)]="reservation.typeTable" required><br>

    <label for="dateTime">Date & Time:</label>
    <input type="datetime-local" id="dateTime" name="dateTime" [(ngModel)]="reservation.dateTime" required><br>

    <label for="commandeStatus">Commande Status:</label>
    <select id="commandeStatus" name="commandeStatus" [(ngModel)]="reservation.commandeStatus" required>
      <option value="EN_ATTENTE">En attente</option>

    </select><br>

    <button type="submit">Submit</button>
  </form>

