<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>List-Reclamations</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="list-reclamations">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="reclamations">
                    <ul>
                        <li *ngFor="let reclamation of reclamations">
                            <h3>{{ reclamation.user.id}}</h3>
                            <p>{{ reclamation.description }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>